.login-view-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;

	input {
		border-radius: 5px;
		border: 0;
		box-shadow: 0px 0px 2px inset #2a2c30;
	    font-size: 16px;
		width: 100%;
		padding: 12px 16px;
		color: #2a2c30;
		margin-bottom: 24px;

		&::placeholder {
			color: #BCBBBC;
		}
	}

	button {
		border-radius: 5px;
		background: #FF1A40;
		color: white;
		cursor: pointer;
		font-size: 16px;
		padding: 12px 16px;
		text-align: center;
		width: 100%;

		&.disabled {
			background: #939393;
			cursor: default;
		}
	}
}
